/* Noto Sans Arabic Font - Regular & Bold */

@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('/yamen_arabic_font/static/src/fonts/NotoSansArabic/NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('/yamen_arabic_font/static/src/fonts/NotoSansArabic/NotoSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
